
.netflix {
   box-shadow:inset 0px 39px 0px -24px #000000;
   background-color:#000000;
   border-radius:4px;
   border:1px solid #030000;
   display:inline-block;
   cursor:pointer;
   color:#ff0000;
   font-family:Arial;
   font-size:24px;
   padding:6px 15px;
   text-decoration:none;
   text-shadow:0px 1px 0px #ff0000;
}
.netflix:hover {
   background-color:#000000;
}
.netflix:active {
   position:relative;
   top:1px;
}


